# References
https://www.youtube.com/watch?v=ICXR9nDbudk

### Scrape Wikipedia

In [1]:
import pandas as pd
from geopandas.tools import geocode
from bs4 import BeautifulSoup
import requests
import urllib.request
import csv
import numpy as np
import folium 
import json
import googlemaps
import urllib
from datetime import datetime

In [4]:
wiki_url = 'https://en.wikipedia.org/wiki/Fire_Rescue_Victoria'

In [7]:
response = requests.get(wiki_url)

In [8]:
soup = BeautifulSoup(response.text, 'html.parser')

In [9]:
table = soup.findAll('table', attrs = {"class":"wikitable sortable"})

In [10]:
table

[<table class="wikitable sortable">
 <tbody><tr>
 <th rowspan="2">No
 </th>
 <th rowspan="2">Name
 </th>
 <th rowspan="2">District
 </th>
 <th colspan="3">FRV appliances
 </th>
 <th rowspan="2">Co-located with CFA
 </th></tr>
 <tr>
 <th>Pumper
 </th>
 <th>Aerial
 </th>
 <th>Specialist &amp; support
 </th></tr>
 <tr>
 <td>1
 </td>
 <td><a href="/wiki/Eastern_Hill_Fire_Station" title="Eastern Hill Fire Station">Eastern Hill</a>
 </td>
 <td>Central
 </td>
 <td>P1A, P1B, UP1
 </td>
 <td>LP1
 </td>
 <td>CU1, DC1A, DC1B, RHB1
 </td>
 <td>
 </td></tr>
 <tr>
 <td>2
 </td>
 <td>West Melbourne
 </td>
 <td>Central
 </td>
 <td>P2A, P2B
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>3
 </td>
 <td>Carlton
 </td>
 <td>Central
 </td>
 <td>P3
 </td>
 <td>
 </td>
 <td>R3
 </td>
 <td>
 </td></tr>
 <tr>
 <td>4
 </td>
 <td>Brunswick
 </td>
 <td>Central
 </td>
 <td>P4
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>5
 </td>
 <td>Broadmeadows
 </td>
 <td>Northern
 </td>
 <td>P5, PT5
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>6
 </td>
 <td>Pascoe Vale
 </td>
 <td>Northern
 </td>
 <td>P6, PT6
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>7
 </td>
 <td>Thomastown
 </td>
 <td>Northern
 </td>
 <td>P7, PT7
 </td>
 <td>TB7
 </td>
 <td>R7, DC7
 </td>
 <td>
 </td></tr>
 <tr>
 <td>8
 </td>
 <td>Burnley Complex
 </td>
 <td colspan="5" style="font-style:italic;">Training and administration facility
 </td></tr>
 <tr>
 <td>9
 </td>
 <td>Somerton
 </td>
 <td>Northern
 </td>
 <td>P9, PT9
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>10
 </td>
 <td>Richmond
 </td>
 <td>Central
 </td>
 <td>P10
 </td>
 <td>TB10
 </td>
 <td>T10A, T10B<br/>Pods: BA, BD, FDS,<br/>GP, HART, HL, HRS,<br/>USAR-1, TRS
 </td>
 <td>
 </td></tr>
 <tr>
 <td>11
 </td>
 <td>Epping
 </td>
 <td>Northern
 </td>
 <td>PT11
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>12
 </td>
 <td>Preston
 </td>
 <td>Northern
 </td>
 <td>P12
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>13
 </td>
 <td>Northcote
 </td>
 <td>Central
 </td>
 <td>P13
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>14
 </td>
 <td>Bundoora
 </td>
 <td>Northern
 </td>
 <td>P14A, P14B
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>15
 </td>
 <td>Heidelberg
 </td>
 <td>Northern
 </td>
 <td>P15
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>16
 </td>
 <td>Greensborough
 </td>
 <td>Northern
 </td>
 <td>PT16
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>18
 </td>
 <td>Hawthorn
 </td>
 <td>Central
 </td>
 <td>P18
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>19
 </td>
 <td>North Balwyn
 </td>
 <td>Eastern
 </td>
 <td>PT19
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>20
 </td>
 <td>Box Hill
 </td>
 <td>Eastern
 </td>
 <td>P20
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>22
 </td>
 <td>Ringwood
 </td>
 <td>Eastern
 </td>
 <td>PT22
 </td>
 <td>TB22
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>23
 </td>
 <td>Burwood
 </td>
 <td>Eastern
 </td>
 <td>P23
 </td>
 <td>
 </td>
 <td>Pod: WRM-5
 </td>
 <td>
 </td></tr>
 <tr>
 <td>24
 </td>
 <td>Glen Iris
 </td>
 <td>Southern 1
 </td>
 <td>P24
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>25
 </td>
 <td>Oakleigh
 </td>
 <td>Southern 1
 </td>
 <td>P25
 </td>
 <td>TB25, LP25
 </td>
 <td>R25, DC25
 </td>
 <td>
 </td></tr>
 <tr>
 <td>26
 </td>
 <td>Croydon
 </td>
 <td>Eastern
 </td>
 <td>P26, PT26
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>27
 </td>
 <td>Nunawading
 </td>
 <td>Eastern
 </td>
 <td>PT27
 </td>
 <td>
 </td>
 <td>R27
 </td>
 <td>
 </td></tr>
 <tr>
 <td>28
 </td>
 <td>Vermont South
 </td>
 <td>Eastern
 </td>
 <td>PT28
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>29
 </td>
 <td>Clayton
 </td>
 <td>Southern 1
 </td>
 <td>PT29
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>30
 </td>
 <td>Templestowe
 </td>
 <td>Eastern
 </td>
 <td>P30, PT30
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>31
 </td>
 <td>Glen Waverley
 </td>
 <td>Southern 1
 </td>
 <td>P31, PT31
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>32
 </td>
 <td>Ormond
 </td>
 <td>Southern 1
 </td>
 <td>P32
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>33
 </td>
 <td>Mentone
 </td>
 <td>Southern 1
 </td>
 <td>PT33
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>34
 </td>
 <td>Highett
 </td>
 <td>Southern 1
 </td>
 <td>P34, PT34
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>35
 </td>
 <td>Windsor
 </td>
 <td>Central
 </td>
 <td>P35A, P35B
 </td>
 <td>LP35
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>38
 </td>
 <td>South Melbourne
 </td>
 <td>Central
 </td>
 <td>P38A, P38B
 </td>
 <td>
 </td>
 <td>BA38, BS38, HZ38
 </td>
 <td>
 </td></tr>
 <tr>
 <td>39
 </td>
 <td>Port Melbourne
 </td>
 <td>Central
 </td>
 <td>P39A, P39B
 </td>
 <td>
 </td>
 <td>FS39 also respond nearby fireboats:<br/>FB1, FB2, FB4, FB6.
 </td>
 <td>
 </td></tr>
 <tr>
 <td>40
 </td>
 <td>Laverton
 </td>
 <td>Western 1
 </td>
 <td>PT40
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>41
 </td>
 <td>St Albans
 </td>
 <td>Western 2
 </td>
 <td>PT41
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>42
 </td>
 <td>Newport
 </td>
 <td>Western 1
 </td>
 <td>P42, UP42
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>43
 </td>
 <td>Deer Park
 </td>
 <td>Western 2
 </td>
 <td>P43, PT43
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>44
 </td>
 <td>Sunshine
 </td>
 <td>Western 2
 </td>
 <td>PT44
 </td>
 <td>TB44
 </td>
 <td>R44, DC44A, DC44B<br/>Pods: ERM, WRM-3
 </td>
 <td>
 </td></tr>
 <tr>
 <td>45
 </td>
 <td>Spotswood
 </td>
 <td>Western 1
 </td>
 <td>P45
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>46
 </td>
 <td>Altona
 </td>
 <td>Western 1
 </td>
 <td>PT46
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>47
 </td>
 <td>Footscray
 </td>
 <td>Western 1
 </td>
 <td>P47
 </td>
 <td>LP47
 </td>
 <td>T47<br/>Pods: FDS, HL, ML
 </td>
 <td>
 </td></tr>
 <tr>
 <td>48
 </td>
 <td>Taylors Lakes
 </td>
 <td>Western 2
 </td>
 <td>PT48
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>49
 </td>
 <td>North Laverton
 </td>
 <td>Western 1
 </td>
 <td>PT49
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>50
 </td>
 <td>Ascot Vale
 </td>
 <td>Central
 </td>
 <td>P50
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>51
 </td>
 <td>Keilor
 </td>
 <td>Western 2
 </td>
 <td>P51A, P51B
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>52
 </td>
 <td>Tullamarine
 </td>
 <td>Western 2
 </td>
 <td>PT52
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>53
 </td>
 <td>Sunbury
 </td>
 <td>Western 2
 </td>
 <td>P53
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>54
 </td>
 <td>Greenvale
 </td>
 <td>Western 2
 </td>
 <td>P54
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>55
 </td>
 <td>Caroline Springs
 </td>
 <td>Western 2
 </td>
 <td>P55
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>56
 </td>
 <td>Melton
 </td>
 <td>Western 2
 </td>
 <td>P56
 </td>
 <td>
 </td>
 <td>R56
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>57
 </td>
 <td>Tarneit
 </td>
 <td>Western 1
 </td>
 <td>P57
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>58
 </td>
 <td>Point Cook
 </td>
 <td>Western 1
 </td>
 <td>P58
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>59
 </td>
 <td>Derrimut
 </td>
 <td>Western 1
 </td>
 <td>PT59
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>60
 </td>
 <td><a href="/wiki/Victorian_Emergency_Management_Training_Centre" title="Victorian Emergency Management Training Centre">VEMTC</a>
 </td>
 <td colspan="5" style="font-style:italic;">Training facility
 </td></tr>
 <tr>
 <td>61
 </td>
 <td>Lara
 </td>
 <td>Western 3
 </td>
 <td>P61
 </td>
 <td>
 </td>
 <td>HZ61
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>62
 </td>
 <td>Corio
 </td>
 <td>Western 3
 </td>
 <td>P62A, P62B
 </td>
 <td>
 </td>
 <td>BA62
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>63
 </td>
 <td>Geelong City
 </td>
 <td>Western 3
 </td>
 <td>P63A, P63B
 </td>
 <td>LP63
 </td>
 <td>R63, TR63
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>64
 </td>
 <td>Belmont
 </td>
 <td>Western 3
 </td>
 <td>P64
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>66
 </td>
 <td>Ocean Grove
 </td>
 <td>Western 3
 </td>
 <td>P66
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>67
 </td>
 <td>Ballarat City
 </td>
 <td>North &amp; West Regional
 </td>
 <td>P67A, P67B
 </td>
 <td>LP67
 </td>
 <td>BA67, TR67
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>68
 </td>
 <td>Lucas
 </td>
 <td>North &amp; West Regional
 </td>
 <td>P68
 </td>
 <td>
 </td>
 <td>HZ68
 </td>
 <td>
 </td></tr>
 <tr>
 <td>70
 </td>
 <td>Warrnambool
 </td>
 <td>North &amp; West Regional
 </td>
 <td>P70
 </td>
 <td>AP70
 </td>
 <td>T70
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>71
 </td>
 <td>Portland
 </td>
 <td>North &amp; West Regional
 </td>
 <td>P71
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>72
 </td>
 <td>Mildura
 </td>
 <td>North &amp; West Regional
 </td>
 <td>P72
 </td>
 <td>AP72
 </td>
 <td>TO72
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>73
 </td>
 <td>Bendigo
 </td>
 <td>North &amp; West Regional
 </td>
 <td>P73A, P73B
 </td>
 <td>LP73
 </td>
 <td>BA73
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>74
 </td>
 <td>Wangaratta
 </td>
 <td>South &amp; East Regional
 </td>
 <td>P74
 </td>
 <td>
 </td>
 <td>T74
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>75
 </td>
 <td>Shepparton
 </td>
 <td>South &amp; East Regional
 </td>
 <td>P75
 </td>
 <td>AP75
 </td>
 <td>HZ75
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>76
 </td>
 <td>Wodonga
 </td>
 <td>South &amp; East Regional
 </td>
 <td>P76, PT76
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>77
 </td>
 <td>Traralgon
 </td>
 <td>South &amp; East Regional
 </td>
 <td>P77
 </td>
 <td>LP77
 </td>
 <td>
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>78
 </td>
 <td>Morwell
 </td>
 <td>South &amp; East Regional
 </td>
 <td>P78
 </td>
 <td>AP78
 </td>
 <td>
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>79
 </td>
 <td>Latrobe West
 </td>
 <td>South &amp; East Regional
 </td>
 <td>P79
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>80
 </td>
 <td>Craigieburn
 </td>
 <td>Northern
 </td>
 <td>P80
 </td>
 <td>
 </td>
 <td>T80
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>81
 </td>
 <td>South Morang
 </td>
 <td>Northern
 </td>
 <td>P81
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>82
 </td>
 <td>Eltham City
 </td>
 <td>Eastern
 </td>
 <td>P82
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>
 <tr>
 <td>84
 </td>
 <td>South Warrandyte
 </td>
 <td>Eastern
 </td>
 <td>P84
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>85
 </td>
 <td>Boronia
 </td>
 <td>Eastern
 </td>
 <td>P85
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>86
 </td>
 <td>Rowville
 </td>
 <td>Southern 1
 </td>
 <td>P86
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>87
 </td>
 <td>Dandenong
 </td>
 <td>Southern 2
 </td>
 <td>P87A, P87B
 </td>
 <td>LP87
 </td>
 <td>R87, DC87
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>88
 </td>
 <td>Hallam
 </td>
 <td>Southern 2
 </td>
 <td>P88
 </td>
 <td>
 </td>
 <td>HZ88
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>89
 </td>
 <td>Springvale
 </td>
 <td>Southern 1
 </td>
 <td>P89
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>90
 </td>
 <td>Patterson River
 </td>
 <td>Southern 1
 </td>
 <td>P90
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>91
 </td>
 <td>Frankston
 </td>
 <td>Southern 2
 </td>
 <td>P91A, P91B
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>92
 </td>
 <td>Cranbourne
 </td>
 <td>Southern 2
 </td>
 <td>P92
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>93
 </td>
 <td>Pakenham
 </td>
 <td>Southern 2
 </td>
 <td>P93
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>94
 </td>
 <td>Mornington
 </td>
 <td>Southern 2
 </td>
 <td>P94
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>Yes
 </td></tr>
 <tr>
 <td>95
 </td>
 <td>Rosebud
 </td>
 <td>Southern 2
 </td>
 <td>P95
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>Yes
 </td></tr></tbody></table>]

In [11]:
df = pd.read_html(str(table))[0]

In [12]:
df.head()

  No            Name  District FRV appliances                                \
  No            Name  District         Pumper Aerial   Specialist & support
0  1    Eastern Hill   Central  P1A, P1B, UP1    LP1  CU1, DC1A, DC1B, RHB1
1  2  West Melbourne   Central       P2A, P2B    NaN                    NaN
2  3         Carlton   Central             P3    NaN                     R3
3  4       Brunswick   Central             P4    NaN                    NaN
4  5    Broadmeadows  Northern        P5, PT5    NaN                    NaN

  Co-located with CFA
  Co-located with CFA
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN

In [13]:
columns= []
for x in df.columns:
    columns.append(x[0])

In [14]:
df.columns = columns

In [15]:
df.head()

,No,Name,District,FRV appliances,FRV appliances,FRV appliances,Co-located with CFA
0,1,Eastern Hill,Central,"P1A, P1B, UP1",LP1,"CU1, DC1A, DC1B, RHB1",NaN
1,2,West Melbourne,Central,"P2A, P2B",NaN,NaN,NaN
2,3,Carlton,Central,P3,NaN,R3,NaN
3,4,Brunswick,Central,P4,NaN,NaN,NaN
4,5,Broadmeadows,Northern,"P5, PT5",NaN,NaN,NaN

In [16]:
df['Co-located with CFA']= df['Co-located with CFA'].replace(np.nan, "No")
df.head()

,No,Name,District,FRV appliances,FRV appliances,FRV appliances,Co-located with CFA
0,1,Eastern Hill,Central,"P1A, P1B, UP1",LP1,"CU1, DC1A, DC1B, RHB1",No
1,2,West Melbourne,Central,"P2A, P2B",NaN,NaN,No
2,3,Carlton,Central,P3,NaN,R3,No
3,4,Brunswick,Central,P4,NaN,NaN,No
4,5,Broadmeadows,Northern,"P5, PT5",NaN,NaN,No

In [17]:
df= df.replace(np.nan, "-")
df.head()

,No,Name,District,FRV appliances,FRV appliances,FRV appliances,Co-located with CFA
0,1,Eastern Hill,Central,"P1A, P1B, UP1",LP1,"CU1, DC1A, DC1B, RHB1",No
1,2,West Melbourne,Central,"P2A, P2B",-,-,No
2,3,Carlton,Central,P3,-,R3,No
3,4,Brunswick,Central,P4,-,-,No
4,5,Broadmeadows,Northern,"P5, PT5",-,-,No

In [18]:
df.columns = ['No.', 'Name','District', 'Pumper', 'Aerial', 'Specialist & Support', 'Co-located with CFA']

In [19]:
df.head()

,No.,Name,District,Pumper,Aerial,Specialist & Support,Co-located with CFA
0,1,Eastern Hill,Central,"P1A, P1B, UP1",LP1,"CU1, DC1A, DC1B, RHB1",No
1,2,West Melbourne,Central,"P2A, P2B",-,-,No
2,3,Carlton,Central,P3,-,R3,No
3,4,Brunswick,Central,P4,-,-,No
4,5,Broadmeadows,Northern,"P5, PT5",-,-,No

In [20]:
# Cleaning rows Burnley Complex and VEMTC

In [21]:
df.loc[7,['Specialist & Support', 'Pumper', 'Aerial', 'Specialist & Support']] = ['-','-','-','-']
df.loc[55,['Specialist & Support', 'Pumper', 'Aerial', 'Specialist & Support']] = ['-','-','-','-']

In [22]:
df.head()

,No.,Name,District,Pumper,Aerial,Specialist & Support,Co-located with CFA
0,1,Eastern Hill,Central,"P1A, P1B, UP1",LP1,"CU1, DC1A, DC1B, RHB1",No
1,2,West Melbourne,Central,"P2A, P2B",-,-,No
2,3,Carlton,Central,P3,-,R3,No
3,4,Brunswick,Central,P4,-,-,No
4,5,Broadmeadows,Northern,"P5, PT5",-,-,No

In [23]:
# save df
df.to_csv('wiki_table_frv.csv', index=False)

### Find Addresses using Google API

In [24]:
googlemaps_API_key ="-get-your-googleAPI-"

base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
AUTH_KEY = googlemaps_API_key

In [26]:
for i, row in df.iterrows():
    address = 'FRV fire brigade, ' + str(df.at[i,"Name"]) + ', Victoria, Australia'
    parameters = {"address" : address, 
             'key': AUTH_KEY}
    
    r = requests.get(f"{base_url}{urllib.parse.urlencode(parameters)}")
    data = json.loads(r.content)
    add = data['results'][0]['formatted_address']
    lat = data['results'][0]['geometry']['location']['lat']
    lng = data['results'][0]['geometry']['location']['lng']
    
    df.at[i,'add'] = add
    print(add)
    df.at[i,'lat'] = lat
    df.at[i,'lng'] = lng
    print(lat)
    print(lng)
    
df.to_csv('wiki_table_FRV_geo.csv')

1234 Yates St, Victoria, BC V8V 3M8, Canada
48.425096
-123.347728
60 Batman St, West Melbourne VIC 3003, Australia
-37.8106496
144.9510866
106 Bouverie St, Carlton VIC 3053, Australia
-37.8038817
144.9621337
24 Blyth St, Brunswick VIC 3056, Australia
-37.76594559999999
144.9650959
338 Camp Rd, Broadmeadows VIC 3047, Australia
-37.68626190000001
144.9292308
345A Gaffney St, Pascoe Vale VIC 3044, Australia
-37.73162130000001
144.9381796
92 Mahoneys Rd, Thomastown VIC 3074, Australia
-37.6933359
144.9994419
450 Burnley St, Richmond VIC 3121, Australia
-37.8293372
145.0057984
10 Somerton Park Dr, Campbellfield VIC 3061, Australia
-37.6444759
144.9463676
456 Albert St, East Melbourne VIC 3002, Australia
-37.8090171
144.9754069
28 Childs Rd, Epping VIC 3076, Australia
-37.660124
145.0257452
471 Bell St, Preston VIC 3072, Australia
-37.744617
144.9950081
24 Blyth St, Brunswick VIC 3056, Australia
-37.76594559999999
144.9650959
1083 Plenty Rd, Bundoora VIC 3083, Australia
-37.71085679999999
145.048115
161 Bell St, Heidelberg Heights VIC 3081, Australia
-37.7529039
145.0498912
141 Grimshaw St, Greensborough VIC 3088, Australia
-37.704386
145.0986272
45 William St, Hawthorn VIC 3122, Australia
-37.821555
145.040229
312 Doncaster Rd, Balwyn North VIC 3104, Australia
-37.791692
145.095313
364 Maroondah Hwy, Nunawading VIC 3131, Australia
-37.8189656
145.1776463
272 Maroondah Hwy, Ringwood VIC 3134, Australia
-37.810775
145.2386836
100 Atherton Rd, Oakleigh VIC 3166, Australia
-37.8996735
145.0952426
45 William St, Hawthorn VIC 3122, Australia
-37.821555
145.040229
100 Atherton Rd, Oakleigh VIC 3166, Australia
-37.8996735
145.0952426
272 Maroondah Hwy, Ringwood VIC 3134, Australia
-37.810775
145.2386836
364 Maroondah Hwy, Nunawading VIC 3131, Australia
-37.8189656
145.1776463
364 Maroondah Hwy, Nunawading VIC 3131, Australia
-37.8189656
145.1776463
529 Clayton Rd, Clayton South VIC 3169, Australia
-37.9390127
145.1166459
141 Grimshaw St, Greensborough VIC 3088, Australia
-37.704386
145.0986272
645 Ferntree Gully Rd, Glen Waverley VIC 3150, Australia
-37.9035719
145.1644808
299-311 North Rd, Caulfield South VIC 3162, Australia
-37.901805
145.025674
101-103 Nepean Hwy, Mentone VIC 3194, Australia
-37.9810457
145.0707872
150 Wickham Rd, Highett VIC 3190, Australia
-37.9455184
145.0442535
26 Moray St, Southbank VIC 3006, Australia
-37.8270174
144.9602022
26 Moray St, Southbank VIC 3006, Australia
-37.8270174
144.9602022
448 Graham St, Port Melbourne VIC 3207, Australia
-37.833066
144.9329205
5 Epsom St, Laverton VIC 3028, Australia
-37.8655169
144.7706059
30 McIntyre Rd, Sunshine North VIC 3020, Australia
-37.7746542
144.8293878
231-239 Melbourne Rd, Newport VIC 3015, Australia
-37.8491639
144.8872508
782 Ballarat Rd, Deer Park VIC 3023, Australia
-37.7703174
144.7787566
30 McIntyre Rd, Sunshine North VIC 3020, Australia
-37.7746542
144.8293878
8 Highgate St, Yarraville VIC 3013, Australia
-37.8230571
144.8763524
7 Akuna St, Altona VIC 3018, Australia
-37.8640525
144.8171775
69 Droop St, Footscray VIC 3011, Australia
-37.795635
144.8958989
3038/470 Melton Hwy, Taylors Lakes VIC 3038, Australia
-37.6955221
144.7750932
88 Boundary Rd, Sunshine West VIC 3020, Australia
-37.8159846
144.8175373
69 Droop St, Footscray VIC 3011, Australia
-37.795635
144.8958989
Keilor East VIC 3033, Australia
-37.7405618
144.8632964
1 Western Ave, Westmeadows VIC 3049, Australia
-37.6845854
144.8823217
144 Gap Rd, Sunbury VIC 3429, Australia
-37.5782133
144.7109375
33 Barrymore Rd, Greenvale VIC 3059, Australia
-37.6506123
144.8945698
8-10 Caroline Springs Blvd, Caroline Springs VIC 3023, Australia
-37.7550994
144.7403132
40-44 Henry St, Melton VIC 3337, Australia
-37.6856098
144.5816237
417 Derrimut Rd, Tarneit VIC 3029, Australia
-37.8466604
144.6879669
85-93 Dunnings Rd, Point Cook VIC 3030, Australia
-37.8863772
144.7465673
337 Fitzgerald Rd, Derrimut VIC 3030, Australia
-37.80768
144.78773
231-239 Melbourne Rd, Newport VIC 3015, Australia
-37.8491639
144.8872508
25 Mill Rd, Lara VIC 3212, Australia
-38.0207138
144.4144286
30 Birdwood Ave, Norlane VIC 3214, Australia
-38.0995565
144.3527753
69 McKillop St, Geelong VIC 3220, Australia
-38.1536363
144.3600699
2-4 Reynolds Rd, Belmont VIC 3216, Australia
-38.1889458
144.3274334
1 Shell Rd, Ocean Grove VIC 3226, Australia
-38.2574035
144.5365133
1120 Sturt St, Ballarat Central VIC 3350, Australia
-37.5598646
143.8434761
Delacombe VIC 3356, Australia
-37.5688554
143.7999583
61-65 Mortlake Rd, Warrnambool VIC 3280, Australia
-38.3687066
142.4929386
130 Percy St, Portland VIC 3305, Australia
-38.3434733
141.6041329
338 San Mateo Ave, Mildura VIC 3500, Australia
-34.2046234
142.1494721
145 Hargreaves St, Bendigo VIC 3550, Australia
-36.7567331
144.285121
26-30 Handley St, Wangaratta VIC 3677, Australia
-36.3613298
146.3138548
268 Maude St, Shepparton VIC 3630, Australia
-36.38218060000001
145.4003175
81A Thomas Mitchell Dr, Wodonga VIC 3690, Australia
-36.1331664
146.9017144
158 Princes St, Traralgon VIC 3844, Australia
-38.2020679
146.5225119
158 Princes St, Traralgon VIC 3844, Australia
-38.2020679
146.5225119
158 Princes St, Traralgon VIC 3844, Australia
-38.2020679
146.5225119
2 Belsay Pl, Craigieburn VIC 3064, Australia
-37.5986978
144.9326453
875 Plenty Rd, South Morang VIC 3752, Australia
-37.6477463
145.0909803
Eltham VIC 3095, Australia
-37.7217052
145.1448932
29 Falconer Rd, Park Orchards VIC 3114, Australia
-37.7703278
145.2215254
300 Boronia Rd, Boronia VIC 3155, Australia
-37.8602879
145.2653309
1063 Wellington Rd, Rowville VIC 3178, Australia
-37.9263892
145.2484554
186-194 Princes Hwy, Dandenong VIC 3175, Australia
-37.9728698
145.2016817
12 Belgrave-Hallam Rd, Hallam VIC 3803, Australia
-38.004093
145.274264
518 Springvale Rd, Springvale South VIC 3172, Australia
-37.97265580000001
145.1477629
37 McLeod Rd, Carrum VIC 3197, Australia
-38.074373
145.127896
3 Cranbourne Rd, Frankston VIC 3199, Australia
-38.1459748
145.1264364
10 Arundel St, Cranbourne VIC 3977, Australia
-38.1037024
145.2838981
780C Princes Hwy, Pakenham VIC 3810, Australia
-38.0618163
145.4530208
859 Nepean Hwy, Mornington VIC 3931, Australia
-38.2310203
145.0423285
99 Boneo Rd, Rosebud VIC 3939, Australia
-38.3703303
144.8899153

### Ploting the station on a Map

In [27]:
m = folium.Map(location = [-37.81421, 144.96316], tiles ='OpenStreetMap', zoom_start=7)

In [28]:
df = pd.read_csv('wiki_table_FRV_geo.csv')

In [29]:
for i, row in df.iterrows():
    lat = df.at[i, 'lat']
    lng = df.at[i, 'lng']
    
    popup = 'Name: ' + df.at[i, 'Name'] + '<br>' + 'District: '+ df.at[i, 'District'] + '<br>' + 'Pumper: ' + df.at[i, 'Pumper'] + '<br>' + 'Aerial: ' + df.at[i, 'Aerial'] + '<br>' + 'Specialist & Support: ' + df.at[i, 'Specialist & Support'] + '<br>' + 'Co-located with CFA: ' + df.at[i, 'Co-located with CFA']
    iframe = folium.IFrame(popup,
                       width=250,
                       height=150)

    popup = folium.Popup(iframe,
                     max_width=200)
    folium.Marker(location = [lat, lng], popup= popup, icon = folium.Icon(color='blue')).add_to(m)

m.save('wiki_FRV_Locations.html')